<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Base64 Decoder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/public/tools/base64}" th:method="post" style="max-width: 800px">
        <h2 class="form-signin-heading">Please Enter Token</h2>
        <p>
            <label for="inputToken">Base64 Encoded Value</label>
            <textarea class="form-control" id="inputToken"
                      th:text="*{encodedValue}" name="encodedValue" placeholder="Enter Base64 value"
                      rows="5" required autofocus></textarea>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Decode</button>
        <br/>
        <p>
            <label for="outputToken">Decoded Value</label>
            <textarea class="form-control" id="outputToken"
                      th:text="*{decodedValue}" rows="10"></textarea>
        </p>
    </form>
</div>
</body></html>