<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      th:href="@{/assets/css/converter.css}"
      href="../static/assets/css/converter.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <!--    =================================================================================-->

    <header class="header">
      <div class="inner-Header">
        <nav class="nav-menu">
          <div class="tab-titles">
            <p class="tab-links active-link" data-id="tab1">Time</p>
            <p class="tab-links" data-id="tab2">JWT</p>
            <p class="tab-links" data-id="tab3">Base64</p>
            <p class="tab-links" data-id="tab4">API Login</p>
            <!-- <p class="tab-links" data-id="tab5">tab5</p> -->
          </div>
        </nav>
      </div>
    </header>
    <!--    =================================================================================-->

    <!--    =================================================================================-->
    <main class="content">
      <div class="inner-content">
        <div class="tab-contents" id="tab1">
          <div class="time-tab">
            <form id="time-form">
              <div class="form-container">
                <div class="form-row">
                  <label for="inputLongTime">Time</label>
                  <input
                    type="text"
                    class="input"
                    id="inputLongTime"
                    th:value="*{encodedValue}"
                    name="encodedValue"
                    placeholder="Time as long value"
                  />
                </div>
                <div class="form-row btn-container">
                  <button class="decode-btn" type="submit">Decode</button>
                </div>
                <div class="form-row">
                  <input
                    type="text"
                    readonly
                    class="input"
                    id="inputLongFormattedTime"
                    th:value="*{decodedValue}"
                    placeholder="Date/Time"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-contents" id="tab2">
          <div class="jwt-tab">
            <form id="jwt-form">
              <div class="form-container">
                <div class="form-row">
                  <textarea
                    class="form-control"
                    id="inputToken"
                    th:text="*{encodedValue}"
                    name="encodedValue"
                    placeholder="Enter JWT value"
                    rows="5"
                    required
                    autofocus
                  ></textarea>
                </div>
                <div class="form-row btn-container">
                  <button class="decode-btn" type="submit">Decode</button>
                </div>
                <div class="form-row">
                  <textarea
                    class="form-control"
                    id="outputToken"
                    th:text="*{decodedValue}"
                    rows="10"
                    placeholder="Plain JWT"
                  ></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-contents" id="tab3">
          <div class="base64-tab">
            <form id="base64-form">
              <div class="form-row">
                <textarea
                  class="form-control"
                  id="inputTokenBase64"
                  name="encodedValue"
                  placeholder="Enter Base64 value"
                  rows="5"
                  required
                  autofocus
                ></textarea>
              </div>
              <div class="form-row btn-container">
                <button class="decode-btn" type="submit">Decode</button>
              </div>

              <div class="form-row">
                <textarea
                  class="form-control"
                  id="outputTokenBase64"
                  rows="10"
                  placeholder="Decoded Value"
                ></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-contents" id="tab4">
          <div class="Consent-tab">
            <form class="login-form" id="consent_form">
              <div class="custom-select">
                <label for="grant_type">نوع ورود را انتخاب کنید:</label>
                <div class="select">
                  <select name="grant_type" id="grant_type">
                    <option value="first_password" selected="selected">
                      رمز اول
                    </option>
                    <option value="second_password">رمز دوم</option>
                    <option value="authorization_code">کد</option>
                    <option value="client_credentials">
                      client credentials
                    </option>
                  </select>
                </div>
              </div>
              <div style="width: 100%"></div>
              <div class="input-wrapper" id="username_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="username"
                  placeholder="username"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="password_wrapper">
                <input
                  type="password"
                  th:value="${state}"
                  name="password"
                  placeholder="password"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="client_id_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="client_id"
                  placeholder="client_id"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="scope_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="scope"
                  placeholder="scope"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="access_parameter_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="access_parameter"
                  placeholder="access_parameter"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="register_code_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="register_code"
                  placeholder="register_code"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="claim_code_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="claim_code"
                  placeholder="claim_code"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="redirect_uri_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="redirect_uri"
                  placeholder="redirect_uri"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="code_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="code"
                  placeholder="code"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="client_version_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="client_version"
                  placeholder="client_version"
                  class="login-input"
                />
              </div>
              <div class="input-wrapper" id="client_signature_wrapper">
                <input
                  type="text"
                  th:value="${state}"
                  name="client_signature"
                  placeholder="client_signature"
                  class="login-input"
                />
              </div>

              <div class="btn-wrapper">
                <button type="submit">Submit Consent</button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="tab-contents" id="tab5">
          <p>lorem5</p>
        </div> -->
      </div>
    </main>
    <!--    =================================================================================-->

    <script
      type="text/javascript"
      th:src="@{/assets/js/converter.js}"
      src="../static/assets/js/converter.js"
    ></script>
  </body>
</html>
