<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="#{label.caption.system} + ' ' + ${client_title}"></title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet" type="text/css" />
    <th:block
      th:if="${client_id}"
      th:with="dynamicCssPath=@{/assets/css/__${client_id+'.css'}__}"
    >
      <link th:href="${dynamicCssPath}" rel="stylesheet" type="text/css" />
    </th:block>
  </head>
  <body>
    <div class="container">
      <div class="form-wrapper">
        <div class="form-header">
          <div class="logo">
            <img th:src="@{/assets/images/logo.webp}" alt="logo" />
          </div>
          <div class="panel-title">
            <span th:text="#{label.caption.system-login}" /><span
              th:text="${client_title}"
            ></span>
          </div>
          <div class="confirm-title" th:if="${isStepTwoRequired}">
            <span th:text="#{message.enter.claim_code}" />
          </div>
          <div
            class="form-message"
            th:text="${errorMessage} ? ${errorMessage} :'' "
          ></div>
        </div>

        <form class="form-signin" method="post" action="/login">
          <div class="form-content">
            <div class="form-row" th:if="${!isStepTwoRequired}">
              <input
                class="input"
                type="text"
                id="username"
                name="username"
                data-th-placeholder="#{label.caption.username}"
                autofocus
                required
                autocomplete="false"
              />
            </div>
            <div class="form-row" th:if="${!isStepTwoRequired}">
              <input
                class="input"
                type="password"
                id="password"
                name="password"
                data-th-placeholder="#{label.caption.password}"
                required
              />
            </div>
            <div class="form-row" th:if="${!isStepTwoRequired}">
              <div class="captcha-container">
                <input
                  class="captcha-input"
                  type="text"
                  id="captcha"
                  name="password"
                  placeholder="رمز امنیتی"
                  required
                />
                <img
                  class="captcha-img"
                  th:src="@{/assets/images/captcha.png}"
                  alt="captcha"
                />
                <div class="refresh-container">
                  <img
                    th:src="@{/assets/images/refresh-icon.svg}"
                    alt="refresh"
                  />
                </div>
              </div>
            </div>
            <div class="form-row" th:if="${isStepTwoRequired}">
              <input
                class="input"
                type="password"
                id="claim"
                name="claim_code"
                data-th-placeholder="#{label.caption.claim_code}"
                required
              />
            </div>
            <input
              type="hidden"
              th:name="${csrf_name}"
              th:value="${csrf_value}"
            />
            <input type="hidden" name="is_step_two" th:value="${false}" />
            <input type="hidden" name="client_id" th:value="${client_id}" />
            <div class="form-row">
              <button
                class="submit-btn"
                type="submit"
                th:if="${!isStepTwoRequired}"
                th:text=" #{label.caption.login}"
              ></button>
              <button
                id="confirmBtn"
                class="submit-btn"
                type="submit"
                th:if="${isStepTwoRequired}"
                th:text="#{label.caption.send-claim}"
              ></button>
            </div>
          </div>
        </form>
        <div class="form-row" th:if="${isStepTwoRequired}">
          <button
                  class="submit-btn"
                  type="button"
                  id="cancelButton"
                  th:text="#{label.caption.cancel}"
          ></button>
        </div>
        <div class="timer" th:if="${isStepTwoRequired}">
          <div class="time-code">
            <div class="time-container">
              <span class="time-label">زمان باقی مانده:</span>
              <div id="expireTime" class="expire-time"></div>
            </div>
            <div class="send-code">
              <form
                th:if="${authenticationMethod == 'SMS'}"
                class="otp-btn"
                method="post"
                action="/public/otp/sms"
              >
                <button
                        class="sms-btn"
                        type="submit"
                        data-th-text="#{label.btn.send-sms}"
                ></button>
              </form>
            </div>
          </div>
        </div>

        <div class="form-footer" th:if="${!isStepTwoRequired}">
          <div class="footer-line"></div>
          <div class="footer-text">فراموشی رمز عبور / ثبت نام</div>
          <div class="footer-line"></div>
        </div>
      </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      const otpExpireTime = /*[[${otpExpireTime}]]*/ "default";
      /*]]>*/
      const confirmBtn = document.getElementById("confirmBtn");
      const expireTime = document.getElementById("expireTime");

      let count = 120;
      function updateCounter() {
        expireTime.textContent = count;
        count--;
        if (count < 0) {
          clearInterval(timer);
          confirmBtn.disabled = true;
          confirmBtn.classList.add("disable-btn");
        }
      }
      const timer = setInterval(updateCounter, 1000);


      const cancelButton = document.getElementById("cancelButton");
      cancelButton.addEventListener("click", () => {
        if (
          confirm("Are you sure you want to cancel and clear all session data?")
        ) {
          document.getElementById("loginForm").action = "/login-cancel";
          document.getElementById("loginForm").submit();
        }
      });
    </script>
  </body>
</html>
