<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Time Decoder</title>
    <link
      href="../static/assets/css/time.css"
      rel="stylesheet"
      type="text/css"
      media="all"
      th:href="@{/assets/css/time.css}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <div class="form-header">
          <div class="logo">
            <img
                    th:src="@{/assets/images/logo.webp}"
                    alt="logo"
            />
          </div>
        </div>
        <form th:action="@{/public/tools/time}" th:method="post">
          <div class="form-container">
            <div class="form-row">
              <label for="inputLongTime">Time</label>

              <input
                type="text"
                class="input"
                id="inputLongTime"
                th:value="*{encodedValue}"
                name="encodedValue"
                placeholder="Time as long value"
              />
            </div>
            <div class="form-row">
              <button class="decode-btn" type="submit">Decode</button>
            </div>
            <div class="form-row">
              <label for="inputLongFormattedTime">Date/Time</label>
              <input
                type="text"
                readonly
                class="input"
                id="inputLongFormattedTime"
                th:value="*{decodedValue}"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
