<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Time Decoder</title>
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <br/>
    <form th:action="@{/public/tools/time}" th:method="post">
        <div class="col-auto">
            <label for="inputLongTime">Time</label>
            <input type="text" class="form-control" id="inputLongTime" th:value="*{encodedValue}" name="encodedValue" placeholder="Time as long value">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Convert</button>
        </div>
        <div class="col-auto">
            <label for="inputLongFormattedTime">Date/Time</label>
            <input type="text" readonly class="form-control-plaintext" id="inputLongFormattedTime" th:value="*{decodedValue}">
        </div>
    </form>
</div>
</body></html>