<configuration>
    <include resource="META-INF/scm/logback/scm-log-properties.xml"/>
    <include resource="META-INF/scm/logback/scm-fallback-console-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-console-simple-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-console-jsonl-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-file-jsonl-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-trace-jsonl-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-audit-jsonl-appender.xml"/>

    <root>
        <appender-ref ref="SCM_FALLBACK_CONSOLE"/>
        <appender-ref ref="SCM_CONSOLE_SIMPLE"/>
        <appender-ref ref="SCM_CONSOLE_JSONL"/>
        <appender-ref ref="SCM_TRACE_CONSOLE_SIMPLE"/>
        <appender-ref ref="SCM_TRACE_CONSOLE_JSONL"/>
        <appender-ref ref="SCM_AUDIT_CONSOLE_SIMPLE"/>
        <appender-ref ref="SCM_AUDIT_CONSOLE_JSONL"/>
        <appender-ref ref="SCM_FILE_JSONL"/>
        <appender-ref ref="SCM_TRACE_JSONL"/>
        <appender-ref ref="SCM_AUDIT_JSONL"/>
    </root>
</configuration>
