<configuration>
    <include resource="META-INF/scm/logback/scm-log-properties.xml"/>
    <include resource="META-INF/scm/logback/scm-console-simple-appender.xml"/>
    <include resource="META-INF/scm/logback/scm-file-jsonl-appender.xml"/>

    <springProperty scope="context" name="ROOT_LEVEL" source="scm.cache.log.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="SCM_CACHE_LEVEL" source="scm.cache.log.level.application" defaultValue="INFO"/>
    <springProperty scope="context" name="SPRING_LEVEL" source="scm.cache.log.level.spring" defaultValue="INFO"/>
    <springProperty scope="context" name="HIBERNATE_LEVEL" source="scm.cache.log.level.hibernate" defaultValue="WARN"/>
    <springProperty scope="context" name="HAZELCAST_LEVEL" source="scm.cache.log.level.hazelcast" defaultValue="INFO"/>
    <springProperty scope="context" name="HIKARI_LEVEL" source="scm.cache.log.level.hikari" defaultValue="INFO"/>

    <logger name="com.hazelcast.system.logo" level="OFF"/>

    <logger name="ir.daneshrefah.scm.cache" level="${SCM_CACHE_LEVEL}"/>
    <logger name="org.springframework" level="${SPRING_LEVEL}"/>
    <logger name="org.hibernate" level="${HIBERNATE_LEVEL}"/>
    <logger name="com.zaxxer.hikari" level="${HIKARI_LEVEL}"/>
    <logger name="com.hazelcast" level="${HAZELCAST_LEVEL}"/>

    <springProfile name="dev">
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="SCM_CONSOLE_SIMPLE"/>
            <appender-ref ref="SCM_FILE_JSONL"/>
        </root>
    </springProfile>

    <springProfile name="test,pilot,prod">
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="SCM_FILE_JSONL"/>
        </root>
    </springProfile>

    <springProfile name="!dev &amp; !test &amp; !pilot &amp; !prod">
        <root level="${ROOT_LEVEL}">
            <appender-ref ref="SCM_FILE_JSONL"/>
        </root>
    </springProfile>
</configuration>
