@font-face {
  font-family: "Vazirmatn";
  src:
    local("Vazirmatn"),
    local("Vazirmatn Regular"),
    url("../assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src:
    local("Vazirmatn Medium"),
    url("../assets/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src:
    local("Vazirmatn Bold"),
    url("../assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
table,
th,
td,
span,
strong,
em {
  direction: rtl;
  text-align: right;
  font-family: "Vazirmatn", Tahoma, sans-serif !important;
}

pre,
code {
  direction: ltr;
  text-align: left;
  font-family: Consolas, "JetBrains Mono", monospace !important;
}
